@model Microsoft.AspNetCore.Diagnostics.IExceptionHandlerFeature

<div class="row">
    <div class="col-12">
        <h1>Error</h1>
        <hr />
    </div>
</div>
<h3>
    Ocurrió un error procesando su solicitud
</h3>

<h5>Por favor contacta a los programadores</h5>
